@using Cloud_Vibe.Utilities
@using Cloud_Vibe.Models.ViewModels
@model AlbumDetailsViewModel
@{
    ViewBag.Title = Model.Title;

    var albumImg = Model.CoverArt;
    var imgSrc = FilesByteUtility.ByteArrayToImageSrcString(albumImg);
}

<!--Used for Blurring effect on the Details Pages-->
<div id="bg-blurry"></div>

<!---->
<div class="row">

    <!--Main Container-->
    <div class="col-md-8">

        <!--Title and Artist-->
        <div class="row">
            <div class="col-md-12 container-black custom-text-white" style="margin-bottom:5px">

                <div class="row-centered">
                    <div class="col-centered">
                        <h3>@Model.Artist.Name - <em>@Model.Title</em></h3>
                    </div>
                </div>
            </div>
        </div>

        <!--Display Panel-->
        <div class="row">
            <div class="col-md-12 custom-grid container-black">
                <!--Cover Picture-->
                <div class="row-centered">
                    <div class="col-centered col-md-8 col-xs-7 col-sm-7">
                        <img src="@imgSrc" style="max-height:330px;border:1px solid  rgba(255, 255, 255, 0.30)" class="img-rounded img-responsive col-centered" />
                    </div>
                </div>
            </div>
        </div>

        <!--Navigation Panel Below Display-->
        <div class="row">
            <div class="col-md-12 container-black">
                <!--Left Part-->
                <div class="col-md-3">
                </div>

                <!--Center Part-->
                <div class="col-md-6 ">
                    @if (Model.VideoLink == null || Model.VideoLink == "")
                    {
                                <!--Btn Download-->
                        <div class="row-centered">
                            <div class="col-centered">
                                <a href="@Url.Action("DownloadFile","User", new { id=Model.ID, name=Model.Title+"-"+Model.Artist.Name , item="album" })" class="btn btn-block btn-info" id="btn-download">Download</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <!--Btn Download-->
                        <div class="col-md-6">
                            <a href="@Url.Action("DownloadFile","User", new { id=Model.ID, name=Model.Title+"-"+Model.Artist.Name , item="song" })" class="btn btn-lg btn-block btn-info" id="btn-download">Download</a>
                        </div>
                        <!--Btn Youtube-->
                        <div class="col-md-6">
                            <a href="@Model.VideoLink" class="btn btn-lg btn-block btn-warning">Youtube</a>
                        </div>
                    }
                </div>

                <!--Right Part-->
                <div class="col-md-3 custom-text-white">
                    <p class="pull-left">
                        <span><span class="fui-eye"></span> @Model.Views </span>
                    </p>
                    <p class="pull-right">
                        <span><span class="fui-upload"></span> @Model.Downloads </span>
                    </p>
                </div>
            </div>
        </div>

        <!--Information Panel-->
        <div class="row container-white">
            <!--Uploaded by Info Panel-->
            <div class="row-centered">
                <div class="col-centered">
                    <div class="row">
                        @{var avatarSrc = FilesByteUtility.ByteArrayToImageSrcString(Model.UserShared.Avatar);}
                        <img src="@avatarSrc" style="height:41px; margin-right:0 20px 0 20px;" class="img-rounded" />
                    </div>
                    <div class="row">
                        <strong>@Html.ActionLink(Model.UserShared.UserName, "ProfileDetails", "Account", new { username = @Model.UserShared.UserName }, null) </strong>
                    </div>
                    <div class="row">
                        <strong>@Html.Timeago(Model.SharedOn)</strong>
                    </div>
                </div>
            </div>

            <!--Review Panel-->
            <div class="row">

            </div>
        </div>

        <!--Comments-->
        <div class="row container-white">
            @{ViewBag.id = Model.ID;}
            @{ViewBag.Type = "album";}

            <div class="col-md-12">
                @Html.Partial("_Comments", ViewBag.CommentsInfo as List<CommentViewModel>)
            </div>
        </div>
    </div>

    <!--More songs Right Panel-->
    <div class="col-md-4">
        <div class="col-md-12 container-white custom-grid  pull-right">
            @{var moreAlbums = ViewBag.MoreAlbums as List<AlbumDetailsViewModel>;  }
            @if (moreAlbums.Count != 0)
            {
                <div class="row-centered">
                    <h6> ALBUMS FROM "@Model.Artist.Name.ToUpper()"</h6>
                </div>

                if (moreAlbums.Count == 1 && moreAlbums[0].Title == Model.Title)
                {
                    <div class="row-centered">
                        <div class="col-centered col-md-8">
                            <p>no other albums known for now</p>
                        </div>
                    </div>
                }

                <ul class="grid cs-style-3">
                    @foreach (var album in moreAlbums)
                    {
                        if (album.Title == Model.Title)
                        {
                            continue;
                        }

                        albumImg = album.CoverArt;
                        imgSrc = Cloud_Vibe.Utilities.FilesByteUtility.ByteArrayToImageSrcString(albumImg);
                        var albumUrl = Url.Action("Details", "Album", new { title = album.Title.ToString() });
                        var dateFormated = album.SharedOn.Year.ToString() + album.SharedOn.Month.ToString() + album.SharedOn.Day.ToString() + album.SharedOn.Minute.ToString() + album.SharedOn.Second.ToString() as String;
                        <li>
                            <a href="@albumUrl">
                                <figure>
                                    <img src="@imgSrc" alt="img-@album.Title">
                                    <figcaption>
                                        <h3 class="row-centered">@album.Title</h3>
                                        <div class="row-centered"><span class="artist">@album.Artist.Name</span></div>
                                        <div class="row">
                                            <div class=" pull-left col-md-5 col-xs-5 col-sm-5">
                                                <span><span class="fui-eye"></span> @album.Views </span>
                                            </div>
                                            <div class="pull-right col-md-5">
                                                <span><span class="fui-upload"></span> @album.Downloads </span>
                                            </div>
                                        </div>
                                        <div class="row-centered">
                                            <div class="col-md-12 col-centered">
                                                <span style="font-size:small">@Html.Timeago(album.SharedOn) </span>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    }
                </ul>
                if (moreAlbums.Count != 1)
                {
                    <div class="row-centered">
                        @using (Html.BeginForm("AllAlbums", "Album", FormMethod.Get))
                        {
                            <div class="input-group input-group-lg col-centered ">
                                @Html.Hidden("SearchString", Model.Artist.Name)
                                <button class="btn btn-lg btn-info" type="submit">See more song from "@Model.Artist.Name"</button>
                            </div>
                        }
                    </div>
                }

            }
        </div>
    </div>
</div>

@section Scripts {
<script src="~/Scripts/jquery.blurr/jquery.blurr.js"></script>

    <script>
        var songType = 'album';
        var songId = @Model.ID;

        $(document).ready(function () {
            loadComments("#container-comments");

            //Make bg picture the same as the cover picture but blurred
            $('body').css("background", "url(@Url.Action("GetPicture", "User", new { id = Model.ID, type = "album" })) no-repeat center center");
            $('body').css("background-size", "cover");
            $('#bg-blurry').blurjs({
                source: 'body',
                radius: 30,
                overlay: 'rgba(0, 0, 0, .2)'
            });
        });

        $('#btn-add-comment').click(function () {
            addComment();
        })

        var addComment = function addComment() {
            var userComment = $('#text-comments').val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Comments", "User")",
            data: { type : songType, id : songId, comment: userComment},
        })
        .success(function () {
            $('#text-comments').val('');
            loadComments("#container-comments");
        })
        .error(function(status){
            console.log(status);
        })
    }

    var loadComments = function loadComments(container) {
        $.ajax({
            url: "@Url.Action("Comments","User")",
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            data: { type : songType, id : songId},
            dataType: 'html',
            beforeSend: function(){
                $('#loader').show();
            },
            complete: function(){
                $('#loader').hide();
            }
        })
        .success(function (result) {
            $(container).hide();
            $(container).html(result);
            $(container).show("slow");
        })
        .error(function(status){
            console.log(status);
        })
    }
    </script>
}