<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/respond")*@
    <link href="~/Content/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/flat-ui-pro.css" rel="stylesheet" />
    <script src="~/Scripts/vendor/respond.min.js"></script>
</head>
<body>
    <!--Header-->
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Cloud <span class="fui-spotify"></span> Vibe</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-03">
            @Html.Partial("_LoginNavigationPartial")
            @Html.Partial("_LoginAccountPartial")
        </div>
    </nav>

    <!--Main Container-->
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <!--Footer-->
    <div class="mvl pvl">
        <div class="bottom-menu bottom-menu-large bottom-menu-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <a href="#fakelink" class="bottom-menu-brand">Cloud <span class="fui-spotify"></span> Vibe</a>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">ABOUT US</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">Dashboard</a></li>
                            <li><a href="#fakelink">Feed</a></li>
                            <li><a href="#fakelink">Forums</a></li>
                            <li><a href="#fakelink">Radio</a></li>
                            <li><a href="#fakelink">Journal</a></li>
                            <li><a href="#fakelink">Reader</a></li>
                            <li><a href="#fakelink">Store</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">CATEGORIES</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">Design</a></li>
                            <li><a href="#fakelink">Freebies</a></li>
                            <li><a href="#fakelink">Tutorials</a></li>
                            <li><a href="#fakelink">Coding</a></li>
                            <li><a href="#fakelink">Inspiration</a></li>
                            <li><a href="#fakelink">WordPress</a></li>
                            <li><a href="#fakelink">Resources</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">NETWORKS</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">Insight</a></li>
                            <li><a href="#fakelink">Promotion</a></li>
                            <li><a href="#fakelink">Production</a></li>
                            <li><a href="#fakelink">Planning</a></li>
                            <li><a href="#fakelink">Journal</a></li>
                            <li><a href="#fakelink">Reader</a></li>
                            <li><a href="#fakelink">Store</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">MAINFRAME</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">Register / Login</a></li>
                            <li class="active"><a href="#fakelink">Jobs</a></li>
                            <li><a href="#fakelink">Contacts</a></li>
                            <li><a href="#fakelink">Privacy</a></li>
                            <li><a href="#fakelink">Terms of Use</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">FOLLOW US</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">Facebook</a></li>
                            <li><a href="#fakelink">Twitter</a></li>
                            <li><a href="#fakelink">Youtube</a></li>
                            <li><a href="#fakelink">Vimeo</a></li>
                            <li><a href="#fakelink">Instagram</a></li>
                            <li><a href="#fakelink">Vine&nbsp;&nbsp;<span class="label label-small label-primary">New</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /bottom-menu -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/flat-ui-pro")
    @RenderSection("Scripts", false)
</body>
</html>
