<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cloud Vibe</title>

    <!--Styles-->
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/flat-ui")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/jquery-avgrund")
    @RenderSection("Styles", false)
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/respond")
</head>
<body>
    <!--Header-->
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","User")">Cloud <span class="fui-spotify"></span> Vibe</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-03">
            @Html.Partial("_LoginNavigationPartial")
            @Html.Partial("_LoginAccountPartial")
        </div>
    </nav>

    <!--Main Container-->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <!--Footer-->
    <div class="mvl pvl">
        <div class="bottom-menu bottom-menu-large bottom-menu-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <a href="#fakelink" class="bottom-menu-brand">Cloud <span class="fui-spotify"></span> Vibe</a>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">ABOUT US</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">About the project</a></li>
                            <li><a href="#fakelink">About me</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">CATEGORIES</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">Songs</a></li>
                            <li><a href="#fakelink">Albums</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">MAINFRAME</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="#fakelink">Register / Login</a></li>
                            <li><a href="#fakelink">Terms of Use</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5 class="title">FIND ME ON</h5>
                        <ul class="bottom-menu-list">
                            <li><a href="https://github.com/tokmac"><span class="fui-github"></span>  GitHub</a></li>
                            <li><a href="https://linkedin.com/in/lyubomirmitkov/"><span class="fui-linkedin"></span>  LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- /bottom-menu -->
    </div>

    <!--Scripts-->
    @Scripts.Render("~/bundles/flat-ui-pro")
    @Scripts.Render("~/bundles/jquery-avgrund")
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
