@using Microsoft.AspNet.Identity
@using Cloud_Vibe.Data
@using Cloud_Vibe.Utilities
@if (Request.IsAuthenticated)
{
    ICloudVibeData data = new CloudVibeData(new CloudVibeDbContex());
    var user = data.Users.Find(User.Identity.GetUserId());
    var avatar = user.Avatar;
    var imgSrc = FilesByteUtility.ByteArrayToImageSrcString(avatar);


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <div class="btn-group btn-group-hg">
                <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">
                    <a href="">
                        <img src="@imgSrc" style="float:left;height:25px; margin-right:10px" class="img-rounded img-responsive" />
                        @User.Identity.GetUserName()
                    </a>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Share song/album", "Share", "User")</li>
                    <li>@Html.ActionLink("Check your profile", "ProfileDetails", "User", new { username = User.Identity.GetUserName() }, null)</li>
                    <li>@Html.ActionLink("Edit profile", "EditProfile", "User", new { username = User.Identity.GetUserName() }, null)</li> 
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#fakelink" class="fui-mail">
                @if (@user.MessagesRecieved.Where(m => m.MessageStatus == Cloud_Vibe.Data.Models.MessageStatusTypes.NotRead).ToList().Count > 0)
                {
                    <span class="navbar-unread">1</span>
                }
            </a>
        </li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
