@using Microsoft.AspNet.Identity
@using Cloud_Vibe.Data

<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <div class="btn-group btn-group-hg">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                    All Genres
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Hip Hop</a></li>
                    <li><a href="#">Electronic</a></li>
                    <li><a href="#">Pop</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See All</a></li>
                </ul>
            </div>
        </li>
        <li class="active">@Html.ActionLink("Home", "Index", "User")</li>
        <li>@Html.ActionLink("All Songs", "AllSongs", "Song")</li>
        <li>@Html.ActionLink("All Albums", "AllAlbums", "Album")</li>
    }
    else
    {
        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("How to Share", "ShareGuide", "Info")</li>
        <li>@Html.ActionLink("How to Download", "DownloadGuide", "Info")</li>
    }
</ul>

<form class="navbar-form navbar-left" action="#" role="search">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
            <span class="input-group-btn">
                <button type="submit" class="btn"><span class="fui-search"></span></button>
            </span>
        </div>
    </div>
</form>