@using Microsoft.AspNet.Identity
@using Cloud_Vibe.Data
@if (Request.IsAuthenticated)
{
    ICloudVibeData data = new CloudVibeData(new CloudVibeDbContex());
    var avatar = data.Users.Find(User.Identity.GetUserId()).Avatar;
    var base64 = Convert.ToBase64String(avatar);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="">
                <img src="@imgSrc" style="float:left;height:25px; margin-right:10px" class="img-rounded img-responsive" />
                @User.Identity.GetUserName()
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
