@using Cloud_Vibe.Utilities
@model Cloud_Vibe.Models.OtherUserDetailsViewModel
@{
    ViewBag.Title = "ProfileDetails";
}
<div class="container jumbotron">
    <div class="row">
        <!--Info Container-->

        <div class="col-md-4">
            <!--Image Container-->
            @{
                var albumImg = Model.Avatar;
                var imgSrc = FilesByteUtility.ByteArrayToImageSrcString(albumImg);
            }
            <img src="@imgSrc" style="float:left;height:260px; margin-right:10px" class="img-rounded img-responsive" />
        </div>

        <div class="col-md-8">
            <!--Info Container-->
            <div class="row">
                <div class="col-md-8 pull-left">
                    <!--Main Info Container-->
                    <p>
                        @Model.FirstName @Model.LastName<br />
                        <strong>@Model.Username</strong>
                    </p>
                    <p>
                        <strong>Socials</strong> <br />
                        <span class="fui-facebook"></span>
                        <span class="fui-twitter"></span>
                        <span class="fui-youtube"></span>
                        <span class="fui-google-plus"></span>
                    </p>
                </div>

                <div class="col-md-4 pull-right">
                    <!--Statistic Info Container-->
                    <p>
                        <strong>Albums Shared: </strong> @Model.SharedAlbums.Count
                    </p>
                    <p>
                        <strong>Songs Shared: </strong> @Model.SharedSongs
                    </p>
                    <hr />
                    <p>
                        <strong>Songs Downloaded: </strong> @Model.DownloadedSongs
                    </p>
                    <p>
                        <strong>Albums Downloaded: </strong> @Model.DownloadedAlbums.Count
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

